Repository tiempolocoge/axe-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dequelabs/axe-codeowners, @mlca11y/mlca11y, @stephenmathieson

feat(rule): Require unique aria labels in checkboxgroup & radiogroup (#1316)
  lib/checks/forms/group-labelledby-after.js
  lib/checks/forms/group-labelledby.js
  lib/checks/forms/group-labelledby.json
  test/checks/forms/group-labelledby.js
  test/integration/rules/checkboxgroup/checkboxgroup.html
  test/integration/rules/checkboxgroup/checkboxgroup.json
  test/integration/rules/radiogroup/radiogroup.html
  test/integration/rules/radiogroup/radiogroup.json
Owners: @dequelabs/axe-codeowners

fix(i18n): Fix Japanese translation (#1332)
  locales/ja.json
Owners: @mlca11y/mlca11y, @dequelabs/axe-codeowners

fix: deprecate axe.commons.utils namespace (#1330)
  build/tasks/langs.js
  lib/checks/aria/required-children.js
  lib/checks/aria/required-parent.js
  lib/checks/forms/fieldset.js
  lib/checks/forms/group-labelledby.js
  lib/checks/label/explicit.js
  lib/checks/label/hidden-explicit-label.js
  lib/checks/label/multiple-label.js
  lib/checks/language/valid-lang.js
  lib/checks/language/xml-lang-mismatch.js
  lib/checks/parsing/duplicate-id.js
  lib/commons/text/label-virtual.js
  lib/core/utils/get-base-lang.js
  lib/core/utils/is-html-element.js
  lib/core/utils/token-list.js
  lib/core/utils/valid-input-type.js
  lib/core/utils/valid-langs.js
  lib/rules/color-contrast-matches.js
  lib/rules/xml-lang-mismatch-matches.js
  test/commons/utils/token-list.js
  test/core/utils/get-base-lang.js
  test/core/utils/is-html-element.js
  test/core/utils/token-list.js
Owners: @dequelabs/axe-codeowners

test: update tests to await load (#1333)
  test/integration/full/incomplete/color-contrast.html
  test/integration/full/incomplete/color-contrast.js
  test/integration/full/incomplete/th-has-data-cells.html
  test/integration/full/incomplete/th-has-data-cells.js
  test/integration/full/landmark-banner-is-top-level/landmark-banner-is-top-level-fail.html
  test/integration/full/landmark-banner-is-top-level/landmark-banner-is-top-level-fail.js
  test/integration/full/landmark-banner-is-top-level/landmark-banner-is-top-level-pass.html
  test/integration/full/landmark-banner-is-top-level/landmark-banner-is-top-level-pass.js
  test/integration/full/landmark-complementary-is-top-level/landmark-complementary-is-top-level-fail.html
  test/integration/full/landmark-complementary-is-top-level/landmark-complementary-is-top-level-fail.js
  test/integration/full/landmark-complementary-is-top-level/landmark-complementary-is-top-level-pass.html
  test/integration/full/landmark-complementary-is-top-level/landmark-complementary-is-top-level-pass.js
  test/integration/full/landmark-contentinfo-is-top-level/landmark-contentinfo-is-top-level-fail.html
  test/integration/full/landmark-contentinfo-is-top-level/landmark-contentinfo-is-top-level-fail.js
  test/integration/full/landmark-contentinfo-is-top-level/landmark-contentinfo-is-top-level-pass.html
  test/integration/full/landmark-contentinfo-is-top-level/landmark-contentinfo-is-top-level-pass.js
  test/integration/full/landmark-no-duplicate-banner/landmark-no-duplicate-banner-fail.html
  test/integration/full/landmark-no-duplicate-banner/landmark-no-duplicate-banner-fail.js
  test/integration/full/landmark-no-duplicate-banner/landmark-no-duplicate-banner-pass.html
  test/integration/full/landmark-no-duplicate-banner/landmark-no-duplicate-banner-pass.js
  test/integration/full/landmark-no-duplicate-contentinfo/landmark-no-duplicate-contentinfo-fail.html
  test/integration/full/landmark-no-duplicate-contentinfo/landmark-no-duplicate-contentinfo-fail.js
  test/integration/full/landmark-no-duplicate-contentinfo/landmark-no-duplicate-contentinfo-pass.html
  test/integration/full/landmark-no-duplicate-contentinfo/landmark-no-duplicate-contentinfo-pass.js
  test/integration/full/landmark-one-main/landmark-one-main-fail.html
  test/integration/full/landmark-one-main/landmark-one-main-fail.js
  test/integration/full/landmark-one-main/landmark-one-main-pass1.html
  test/integration/full/landmark-one-main/landmark-one-main-pass1.js
  test/integration/full/landmark-one-main/landmark-one-main-pass2.html
  test/integration/full/landmark-one-main/landmark-one-main-pass2.js
  test/integration/full/page-has-heading-one/page-has-heading-one-fail.html
  test/integration/full/page-has-heading-one/page-has-heading-one-fail.js
  test/integration/full/page-has-heading-one/page-has-heading-one-pass1.html
  test/integration/full/page-has-heading-one/page-has-heading-one-pass1.js
  test/integration/full/page-has-heading-one/page-has-heading-one-pass2.html
  test/integration/full/page-has-heading-one/page-has-heading-one-pass2.js
Owners: @dequelabs/axe-codeowners

chore: remove lib/tools from validate config (#1334)
  Gruntfile.js
  build/build-manual.js
  build/configure.js
  build/tasks/add-locale.js
  build/tasks/configure.js
  build/tasks/validate.js
Owners: @stephenmathieson, @dequelabs/axe-codeowners

chore: rerun prettier (#1340)
  lib/commons/aria/is-accessible-ref.js
  lib/commons/table/get-scope.js
  lib/core/utils/get-selector.js
Owners: @dequelabs/axe-codeowners

chore: remove "linting" from Grunt (#1343)
  Gruntfile.js
  package.json
Owners: @stephenmathieson, @dequelabs/axe-codeowners

feat: tag 'review-items' as 'best-practice' (#1344)
  doc/rule-descriptions.md
  lib/rules/frame-tested.json
  lib/rules/hidden-content.json
Owners: @dequelabs/axe-codeowners

fix(color-contrast): Prevent crash on large inline elments #1306 (#1341)
  lib/commons/color/get-background-color.js
  test/commons/color/get-background-color.js
Owners: @dequelabs/axe-codeowners

chore(package): update husky to 1.3.1, remove duplicate grunt dependency (#1319)
  package.json
Owners: @dequelabs/axe-codeowners

fix: add grunt back to dependencies (#1352)
  package.json
Owners: @dequelabs/axe-codeowners

fix(aria--allowed-role): Allow iframe role=none
  lib/commons/aria/index.js
  test/integration/rules/aria-allowed-role/aria-allowed-role.html
  test/integration/rules/aria-allowed-role/aria-allowed-role.json
  test/integration/rules/aria-allowed-role/dummy.html
Owners: @dequelabs/axe-codeowners

feat: Add environment details to results (#1353)
  axe.d.ts
  lib/core/reporters/helpers/get-environment-data.js
  lib/core/reporters/helpers/process-aggregate.js
  lib/core/reporters/na.js
  lib/core/reporters/no-passes.js
  lib/core/reporters/v1.js
  lib/core/reporters/v2.js
  test/core/reporters/helpers/get-environment-data.js
  test/core/reporters/helpers/process-aggregate.js
  test/core/reporters/na.js
  test/core/reporters/no-passes.js
  test/core/reporters/v1.js
  test/core/reporters/v2.js
Owners: @dequelabs/axe-codeowners

chore: add es6 promise (#1356)
  lib/core/imports/index.js
  package.json
  test/integration/full/umd/umd-window.js
Owners: @dequelabs/axe-codeowners

feat: Pass context argument to rule matches (#1370)
  build/templates.js
  lib/core/base/rule.js
  test/core/base/rule.js
Owners: @stephenmathieson, @dequelabs/axe-codeowners

rchore: move focusable checks to keyboard directory (#1369)
  lib/checks/keyboard/focusable-disabled.js
  lib/checks/keyboard/focusable-disabled.json
  lib/checks/keyboard/focusable-not-tabbable.js
  lib/checks/keyboard/focusable-not-tabbable.json
  test/checks/keyboard/focusable-disabled.js
  test/checks/keyboard/focusable-not-tabbable.js
Owners: @dequelabs/axe-codeowners

fix: escape href attribute when creating a CSS selector [#1137] (#1366)
  lib/core/utils/get-selector.js
  test/core/utils/get-selector.js
Owners: @dequelabs/axe-codeowners

feat: Rebuild the accessible text algorithm (#1163)
  lib/checks/forms/group-labelledby.js
  lib/checks/label/implicit.js
  lib/checks/shared/aria-label.js
  lib/checks/shared/aria-labelledby.js
  lib/checks/shared/non-empty-title.js
  lib/commons/aria/arialabel-text.js
  lib/commons/aria/arialabelledby-text.js
  lib/commons/aria/get-owned-virtual.js
  lib/commons/aria/named-from-contents.js
  lib/commons/text/accessible-text-virtual.js
  lib/commons/text/form-control-value.js
  lib/commons/text/label-text.js
  lib/commons/text/native-element-types.js
  lib/commons/text/native-text-alternative.js
  lib/commons/text/native-text-methods.js
  lib/commons/text/subtree-text.js
  lib/commons/text/title-text.js
  lib/commons/text/unsupported.js
  lib/core/utils/node-sorter.js
  test/checks/shared/aria-labelledby.js
  test/commons/aria/arialabel-text.js
  test/commons/aria/arialabelledby-text.js
  test/commons/aria/get-owned-virtual.js
  test/commons/aria/named-from-contents.js
  test/commons/text/accessible-text.js
  test/commons/text/form-control-value.js
  test/commons/text/label-text.js
  test/commons/text/native-text-alternative.js
  test/commons/text/native-text-methods.js
  test/commons/text/subtree-text.js
  test/integration/rules/label/label.html
  test/integration/rules/label/label.json
  test/testutils.js
Owners: @dequelabs/axe-codeowners

chore: Update a few comments
  lib/commons/aria/arialabelledby-text.js
  test/commons/text/accessible-text.js
Owners: @dequelabs/axe-codeowners

fix(i18n): Fix and add Japanese translation (#1368)
  locales/ja.json
Owners: @mlca11y/mlca11y, @dequelabs/axe-codeowners

test(aria-allowed-role): More integration tests
  test/integration/rules/aria-allowed-role/aria-allowed-role.html
  test/integration/rules/aria-allowed-role/aria-allowed-role.json
Owners: @dequelabs/axe-codeowners

test: add eslint rules for restricted syntax (#1374)
  .eslintrc
  lib/commons/color/get-background-color.js
  lib/core/utils/qsa.js
Owners: @dequelabs/axe-codeowners

chore: Rename multiple-label files
  test/integration/rules/form-field-multiple-labels/form-field-multiple-labels.html
  test/integration/rules/form-field-multiple-labels/form-field-multiple-labels.json
Owners: @dequelabs/axe-codeowners

chore: update dependencies (#1377)
  build/rule-generator/directories.js
  lib/commons/aria/attributes.js
  lib/commons/aria/is-unsupported-role.js
  package.json
Owners: @dequelabs/axe-codeowners

Revert "fix(rule): frame-title applies to wcag242 (#1312)"
  doc/rule-descriptions.md
  lib/rules/frame-title.json
Owners: @dequelabs/axe-codeowners

Update arialabelledby-text.js
  lib/commons/aria/arialabelledby-text.js
Owners: @dequelabs/axe-codeowners

chore: remove redundant promise (#1383)
  package.json
Owners: @dequelabs/axe-codeowners

chore: add eslint to lint staged (#1381)
  package.json
Owners: @dequelabs/axe-codeowners

feat(rule): Label and Name from Content mismatch WCAG21 (Issue #1149) (#1335)
  doc/rule-descriptions.md
  lib/checks/label/label-content-name-mismatch.js
  lib/checks/label/label-content-name-mismatch.json
  lib/commons/aria/index.js
  lib/commons/text/is-human-interpretable.js
  lib/commons/text/unicode.js
  lib/core/imports/index.js
  lib/rules/label-content-name-mismatch-matches.js
  lib/rules/label-content-name-mismatch.json
  package.json
  test/checks/label/label-content-name-mismatch.js
  test/commons/text/accessible-text.js
  test/commons/text/is-human-interpretable.js
  test/commons/text/unicode.js
  test/integration/rules/label-content-name-mismatch/label-content-name-mismatch.html
  test/integration/rules/label-content-name-mismatch/label-content-name-mismatch.json
  test/rule-matches/label-content-name-mismatch-matches.js
  test/testutils.js
Owners: @dequelabs/axe-codeowners

fix: update sc for css orientation rule
  doc/rule-descriptions.md
  lib/rules/css-orientation-lock.json
Owners: @dequelabs/axe-codeowners

chore: remove @instance jsdoc for static methods at axe.utils namespace (#1387)
  lib/core/utils/contains.js
  lib/core/utils/find-by.js
  lib/core/utils/get-base-lang.js
  lib/core/utils/get-root-node.js
  lib/core/utils/is-hidden.js
  lib/core/utils/is-html-element.js
  lib/core/utils/is-xhtml.js
  lib/core/utils/preload-cssom.js
  lib/core/utils/qsa.js
  lib/core/utils/token-list.js
  lib/core/utils/valid-input-type.js
  lib/core/utils/valid-langs.js
Owners: @dequelabs/axe-codeowners

chore: fix npm spawn child process in windows with grunt run (#1388)
  Gruntfile.js
  lib/core/imports/index.js
Owners: @stephenmathieson, @dequelabs/axe-codeowners

fix: better unsupported attribute support for aria-roledescription (#1382)
  build/tasks/aria-supported.js
  doc/aria-supported.md
  lib/checks/aria/unsupportedattr.js
  lib/commons/aria/attributes.js
  lib/commons/aria/index.js
  test/checks/aria/unsupportedattr.js
  test/checks/aria/valid-attr.js
  test/integration/rules/aria-allowed-attr/failures.html
  test/integration/rules/aria-allowed-attr/failures.json
  test/integration/rules/aria-allowed-attr/passes.html
  test/integration/rules/aria-allowed-attr/passes.json
Owners: @dequelabs/axe-codeowners

chore(i18n): Add Japanese translation (#1395)
  locales/ja.json
Owners: @mlca11y/mlca11y, @dequelabs/axe-codeowners

chore(release): 3.2.0
  CHANGELOG.md
  bower.json
  package.json
  sri-history.json
Owners: @dequelabs/axe-codeowners

chore: Curate changelog.md
  CHANGELOG.md
Owners: @dequelabs/axe-codeowners

.github/CODEOWNERS:

# Reference - https://help.github.com/articles/about-code-owners/

# Complete repo
* @dequelabs/axe-codeowners

# Localisation
locales/ja.json @mlca11y/mlca11y @dequelabs/axe-codeowners

# Core features
lib/core/* @stephenmathieson @dequelabs/axe-codeowners
test/core/* @stephenmathieson @dequelabs/axe-codeowners
build/* @stephenmathieson @dequelabs/axe-codeowners
Gruntfile.js @stephenmathieson @dequelabs/axe-codeowners
